.rating {
  position: relative;
  width: 99%;
  margin-top: 1px;
  margin-bottom: 29px;

  &__rating-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  &__error-text {
    margin-bottom: 10px;
    margin-left: 45px;
    font-family: Etelka Light Pro,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #FF7B7B;
    letter-spacing: 0.01em;
  }
  p {
    position: absolute;
    top:10px;
    right: 0;
    bottom:0;
    left:0;
    margin-left:-2px;
    font-family: Ubuntu,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #737373;
  }

  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__line-val {
      width: 12%;
      height: 4px;
      padding-right: 4px;
      padding-left: 4px;
      margin-top: 3px;
      background: #DBE9C8;
      border-radius: 20px;
  }

  label {
    position: absolute;
    top:0;
    left:-1px;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
  }


  &__extra-after {
    position: absolute;
    top:-1.6px !important;
    display: block;
    width: 12px;
    height: 12px;
    color: #CAC84A;
    content: '';
    background-color: #CAC84A;
    border-radius: 50%;

    &--color-1 {
      background-color: #EECF43;
    }
    &--color-2 {
      background-color: #DBCB47;
    }
    &--color-3 {
      background-color: #CAC84A;
    }
    &--color-4 {
      background-color: #BBC54D;
    }
    &--color-5 {
      background-color: #90BC56;
    }

  }
  &__extra-before{
    position: absolute;
    top: 3px;
    box-sizing: border-box;
    display: block;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #fff;
    border-radius: 50px;
  }


  label::before {
    position: absolute;
    top: 3px;
    box-sizing: border-box;
    display: block;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #90BC56;
    border-radius: 50px;
  }
  label::after {
    position: absolute;
    left: -4px;
    display: block;
    width: 12px;
    height: 12px;
    color: #CAC84A;
    content: '';
    background-color: #90BC56;
    border-radius: 50%;
    opacity: 0;
  }

  &__label-color {
    &::before {
      background-color: white !important;
    }
  }

  input {
    display: none;
  }

  input[type='radio']:checked + label::before {
    content: none;
  }

}
