extends ../../layout/layout

block variables
  - var title = 'Верстка Друзья';
block content
  +b.MAIN.main
    .content-width
      section.friends-section    
        +b.banner
          each item in ['red','green','yellow','black']
            +b.friends-item
              +e.user
                +b.text.--small(style=`color:`+ item) 
                  | Вася #{item}
              +e.icons
                <svg class="svg"  style="color:red" width="15" height="15">
                <g>
                <circle cx='50' cy='50' r='25'/>
                </g>
                </svg>
                +e.icon(src="../../static/img/mail-icon.png")
                +e.icon(src="../../static/img/close-icon.svg")
                  
                                  
