.about {
  margin-bottom: -20px;

  &__container {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 16px;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #000;
  }

  &__prefix {
    font-family: Etelka Medium Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    letter-spacing: 0.01em;
  }

 &__text {
   font-family: Etelka Light Pro;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 24px;
   color: #000;
   letter-spacing: 0.01em;

 }
}
