@font-face {
  font-family: "Etelka Medium Pro";
  src: url("EtelkaMediumProRegular.eot");
  src: url("EtelkaMediumProRegular.eot?#iefix")format("embedded-opentype"),
  url("EtelkaMediumProRegular.woff") format("woff"),
  url("EtelkaMediumProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
