//
// Разное
@import 'tools/all';
@import 'other/all';
@import 'fonts';
@import '../static/libs/tingle/tingle.min.css';
//
// Либы
// @import '../vendors/custom/smart-grid/smart-grid';
//
// Общие блоки
@import '../blocks/**/*.scss';
@import '_fix';

// Главная страница
@import '../pug/pages/**/*.scss';
// @import '../blocks/content-width/content.scss';
// @import "../blocks/header/styles";
// @import "../blocks/header/styles";
.content-width {
  width: 1250px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.parsley-errors-list {
 display: none;
}

.parsley-errors-list li {
  display: none;
}
.parsley-required{
  display: none;
}

.parsley-error {
  display: none;
}
button {
  cursor: pointer;
  background-color: #fff;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.primary-title {
  margin-top: 40px;
  margin-bottom: 14px;
  font-family: Ubuntu,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;


  &__col-1-2 {
    flex: 0 0 50%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-1-3 {
    flex: 0 0 33.33%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-1-4 {
    flex: 0 0 25%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-1-6 {
    flex: 0 0 25%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-1-10 {
    flex: 0 0 16.66%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-3-10 {
    flex: 0 0 30%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__col-7-10 {
    flex: 0 0 70%;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__d-flex {
    display: flex;
  }
}

.mr-xs {
  margin-right: 8px;
}

.mr-sm {
  margin-right: 16px;
}
.mr-md {
  margin-right: 32px;
}
.mb-extra-xs {
  margin-bottom: 6px;
}
.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 16px;
}
.mb-md {
  margin-bottom: 32px;
}

.mb-lg {
  margin-bottom: 48px;
}

.mb-responsive-sm {
  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}
.align-center {
  align-items: center;
}

@for $i from 0 through 10 {
  .ml-#{$i} {
    margin-left: 10px * $i;
  }
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: 10px * $i;
  }
}

.custom_form_for_bp input[name='FIO'], .custom_form_for_bp input[name='Manager']{
  float: left;
  width: 160px !important;
  margin-right: 15px;
}
.custom_form_for_bp a{
  float: left;
  width: 91px !important;
  font-size: 14px;
  line-height: 28px;
  color: #8bc540;
}
.custom_form_for_bp .input-block span{
  float: left;
  margin: 0 0 15px;
  font-size: 12px;
}
.custom_form_for_bp .input-block span.structure-department-head{
  position: relative;
  float: left;
  margin-left: 5px;
}
.custom_form_for_bp .selection{
  float: none !important;
}
.custom_form_for_bp .input-block .selection span{
  float: none !important;
}
input[name="USERNAME"], input[name='MANAGER'] {
  width: 100% !important;
}
.custom_form_for_bp input[name='MANAGER']{
  display:none;
}

.container_hidden{
  display: none;
}





