//
// Разное
@import 'tools/all';
@import 'other/all';
@import 'fonts';
@import '../static/libs/tingle/tingle.min.css';
//
// Либы
// @import '../vendors/custom/smart-grid/smart-grid';
//
// Общие блоки
@import '../blocks/**/*.scss';
@import '_fix';
// Главная страница
// @import '../blocks/content-width/content.scss';
// @import "../blocks/header/styles";
// @import "../blocks/header/styles";
.content-width {
  width: 1250px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}
body {
  background: url(../static/img/mochat-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
