.avtoritet-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &__avatar {
   object-fit: contain;
   width: 50px;
  }

  &__star-icon {
    width: 15px;
    height: 15px;
    text-align: left;
  }

  &__avatar-icon {
    width: 20px;
    height: 20px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
