.steps {
  margin-bottom: 36px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #92BC58;
  }

  &__article {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #000;
  }

  &__text {
    display: flex;
    align-items: center;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #000;
  }
}
