include ../card/template
.row
  .col-md-2.col-sm-6.col-xs-12
    +Card('Возможность повысить свою узнаваемость в компании, укрепить уверенность в себе и выстроить свой личный бренд',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Нетворкинг – расширение сети контактов внутри ГК ДОМ.РФ',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Развитие навыков лидерства через свое собственное видение',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Возможность создать свой уникальный продукт, сохраняя экспертизу внутри компании',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Развитие навыков преподавания и публичных выступлений',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Возможность получить прикладные знания с учетом специфики нашей компании, вдохновение на дальнейшее развитие и расширение кругозора',true)
         

