include ../card/template
+b.row
  +e.d-flex
    +e.col-1-10
      +Card('Возможность повысить свою узнаваемость в компании, укрепить уверенность в себе и выстроить свой личный бренд',true)
    +e.col-1-10
      +Card('Нетворкинг – расширение сети контактов внутри ГК ДОМ.РФ',true)
    +e.col-1-10
      +Card('Развитие навыков лидерства через свое собственное видение',true)
    +e.col-1-10
      +Card('Возможность создать свой уникальный продукт, сохраняя экспертизу внутри компании',true)
    +e.col-1-10
      +Card('Развитие навыков преподавания и публичных выступлений',true)
    +e.col-1-10
      +Card('Возможность получить прикладные знания с учетом специфики нашей компании, вдохновение на дальнейшее развитие и расширение кругозора',true)
         

