include ../card/template
.row.center-md
  .col-md-2.col-sm-6.col-xs-12
    +Card('Повысите свою узнаваемость в компании, укрепите уверенность в себе и построите свой личный бренд',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Создадите полезный нетворк - сеть контактов внутри ГК ДОМ.РФ',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Получите возможность создать свой уникальный продукт, структурируя свою экспертизу',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Разовьёте навык публичных выступлений',true)
  .col-md-2.col-sm-6.col-xs-12
    +Card('Получите вдохновение на дальнейшее развитие!',true)
         

