//-
    name: checkbox
    description: Флажок
    arguments:
        - {object} props - Свойства блока.
        - {string} props.title - Заголовок флажка.
  
mixin checkbox(props = {})
  - const id = generateRandomId();
  +b.sp-checkbox&attributes(attributes)
    +e.INPUT(
      type="checkbox"
      id=id
    )
    +e.LABEL(aria-hidden="true", for=id) #{props.title}
   

    
