.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    margin-left: 20px;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #737373;
  }

  input[type='checkbox'] {
    //  скрываем оригинальный чекбокс
    opacity: 0;
  }

  label {
    position: relative;
    display: inline-flex; //  задаем позицию лейбла
    padding-top: 2px;
    padding-left: 42px;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #737373;
    cursor: pointer;
  }

  label::before,
  label::after {
    position: absolute;
    display: inline-block;
    content: '';
  }
  //  создаем границу чекбокса
  label::before {
    top: 3px;
    left: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
  }

  label:hover::before {
    //  вешаем ховер на границу чекбокса
    border-color: $color-main-green;
  }

  //  галочка для чекбокса
  label::after {
    top: 9px;
    left: 6px;
    width: 9px;
    height: 6px;
    color: #FFF;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
  }

  input[type='checkbox'] + label::after {
    //  если не checked то галочка none
    content: none;
  }

  input[type='checkbox']:checked + label::after {
    //  если  checked то используй галочку
    content: '';

  }
  input[type='checkbox']:checked + label::before {
    //  если  checked то используй галочку
    content: '';
    background-color:$color-main-green;
    border: 1px solid $color-main-green
  }
}
