extends ../../layout/layout
include ../../../blocks/card/template
include ../../../blocks/about/template
include ../../../blocks/steps/template  
  
block variables
  - var title = 'Эксперт дома';
    
block content
 .content-width
  +b.MAIN.main
    +e.SECTION.application
      .row
        .col-lg-6.col-xs-12
          include ../../../blocks/block-applications/template
        .col-lg-6.col-xs-12
          +b.two-rows-content
            .row
              .col-md-6.col-sm-6.col-xs-12
                +Card('Вы эксперт в своей профессиональной области или у вас есть увлечение и практическое знание?','','')
              .col-md-6.col-sm-6.col-xs-12
                +Card('Вы понимаете о рисках все, мастерски управляете проектами или на «ты» с Data Science и визуализацией?','','')
            .row
              .col-md-6.col-sm-6.col-xs-12
                +Card('Вы знаете, что общего между восхождением на Килиманджаро, мотивацией и целью?','','')
              .col-md-6.col-sm-6.col-xs-12
                +Card('Есть желание делиться опытом?','','')
    +e.SECTION.about
      +about("О проекте",[{title:"Эксперт ДОМа", text:" – проект для сотрудников, готовых делиться лайфхаками лидерства и моделями управления," +
      " профессиональными знаниями и навыками, личными наработками и уникальным опытом."}, {
        title: "Эксперт ДОМа",
        text:" – проект для сотрудников, желающих получить знания и навыки по интересующей теме от профессионала своего дела!"
      }, {
        title: "Эксперт ДОМа",
        text:" – проект по передаче знаний от сотрудников внутри ГК ДОМ.РФ, который усиливает связь программ обучения с потребностями бизнеса и способствует формированию культуры современной самообучающейся организации и личному развитию."}])
    hr
    +about("Участвовать может любой сотрудник!",[{
      title: "",
      text: "Специалист, руководитель, топ менеджер - каждый сотрудник может стать Экспертом ДОМа. Предлагайте свою тему и приходите на обучение к нашим Экспертам."
    }])
    +e.button-container
     +Button({title:"Участвовать"})
    hr
    +e.SECTION.benefits
      +e.title Преимущества участия в проекте
      include ../../../blocks/benefits-application/template
      +e.steps  
    hr
    +e.SECTION.proceed
      +e.title Как будет проходить проект
      include ../../../blocks/card-proceed/template
      +e.button-container
        +Button({title:"Участвовать"})
    //hr    
    //+e.SECTION.steps
    //  +e.title Шаги
    //  +steps("Шаг 1",[{
    //    article:"Выберите тему, в которой Вы готовы поделиться опытом",text:"Специалист, руководитель, топ менеджер - каждый сотрудник может стать Экспертом ДОМа. Предлагайте свою тему и приходите на обучение к нашим Экспертам"}])
    //  +steps("Шаг 2",[{
    //    article: "Выбираете способ передачи знаний",
    //    text: ""
    //  }])
    //  +e.steps
    //    .row
    //      .col-md-2.col-xs-12
    //        +Card('Очный тренинг',true,"step-1")
    //      .col-md-2.col-xs-12
    //        +Card('Вебинар',true,"step-2")
    //      .col-md-2.col-xs-12
    //        +Card('Электронный курс',true,"step-3")
    //      .col-md-2.col-xs-12
    //        +Card('Обучающее видео',true,"step-4")
    //      .col-md-2.col-xs-12
    //        +Card('Статья',true,"step-5")
    //      .col-md-2.col-xs-12
    //        +Card('Скринкаст',true,"step-6")
    //  +steps("Шаг 3",[{
    //    article: "Пройдите обучение с экспертами по направлениям",
    //    text: "Специалист, руководитель, топ менеджер - каждый сотрудник может стать Экспертом ДОМа. Предлагайте свою тему и приходите на обучение к нашим Экспертам."
    //  }])
    //  +steps("Шаг 4",[{
    //    article: "Создайте ваш уникальный контент",
    //    text: "Вместе с куратором от направления обучения создайте материал, который наилучшим образом раскроет выбранную вами тему"
    //  }])
    //  +steps("Шаг 5",[{
    //    article: "Поделитесь экспертизой",
    //    text: "Вместе с куратором от направления обучения создайте материал, который наилучшим образом раскроет выбранную вами тему"
    //  }])
      
      
      
      
        

