.card-proceed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 16px);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 16px;
  text-align: left;
  text-decoration: none;
  background: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 4px;

  &__content {
    margin-right: 24px;
    margin-left: 24px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #90BC56;
    letter-spacing: 0.1px;
  }

  &__line {
    position: absolute;
    left: 20px;
    box-sizing: border-box;
    width: 43px;
    height: 0;
    margin-left: 10px;
    border: 1px solid #92BC58;
  }

  &__arrow {
    position: relative;
    width: 12px;
    height: 18px;
    margin-left: 51px;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 20%;
      width: 13px;
      height: 2px;
      content: '';
      background-color: #92BC58;
      transform: rotate(-45deg);
    }

    &::before {
      position: absolute;
      top: 15%;
      width: 14.3px;
      height: 2px;
      content: '';
      background-color: #92BC58;
      transform: rotate(45deg) translateY(50%);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #90BC56;
    letter-spacing: 0.1px;

  }

  &__text {
    font-family: Etelka Light Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    letter-spacing: 0.01em;
  }

}
