+b.row
  +e.d-flex
    +e.col-1-4
      +b.A.card-proceed(href="#")
        +e.content
          +e.container
            +e.pagination 1
            +e.line
            +e.arrow
          +e.title Принимаем заявки
          +e.text Определяем тему и формат участия. Вы можете выбрать любую тему и любой способ подачи, от небольшой статьи до полноценного тренинг
    +e.col-1-4
      +b.A.card-proceed(href="#")
        +e.content
          +e.container
            +e.pagination 2
            +e.line
            +e.arrow
          +e.title Принимаем заявки
          +e.text Определяем тему и формат участия. Вы можете выбрать любую тему и любой способ подачи, от небольшой статьи до полноценного тренинг
    +e.col-1-4
      +b.A.card-proceed(href="#")
        +e.content
          +e.container
            +e.pagination 3
            +e.line
            +e.arrow
          +e.title Принимаем заявки
          +e.text Определяем тему и формат участия. Вы можете выбрать любую тему и любой способ подачи, от небольшой статьи до полноценного тренинг
    +e.col-1-4
      +b.A.card-proceed(href="#")
        +e.content
          +e.container
            +e.pagination 4
            +e.line
            +e.arrow
          +e.title Принимаем заявки
          +e.text Определяем тему и формат участия. Вы можете выбрать любую тему и любой способ подачи, от небольшой статьи до полноценного тренинг
             
    
