DIV(style='position:relative')
  .row
    .col-lg-5.col-sm-12.col-xs-12
      .row.mb-xs
        .col-xs-6.col-md-3
          +Button({title:"далее",submit:true})
        .col-xs-6.col-md-3
          +Button({title:"назад",submit:false})  
