extends ../../layout/layout

block variables
  - var title = 'Шаги';

block content
    .content-width
      .declaration(data-initial-step='1')
        .declaration__progress
          .declaration__progress-item
            | Шаг  1
          .declaration__progress-item
            | Шаг  2
          .declaration__progress-item
            | Шаг  3
          .declaration__progress-item
            | Шаг  4
          .declaration__progress-item
            | Шаг  5
      form.declaration__steps(action='')
        .declaration__step(style="display:block")
          .declaration__title
            | Информация о родственниках и их дейтельности
          .declaration__text
            | К родственникам относятся: Супруг/супруга; Отец; Мать; Сын; Дочь; Брат; Сестра; Двоюродный брат/сестра; Дядя/тетя; Отчим/мачеха; Пасынок/падчерица; Сожитель.
          .declaration__relatives.relatives
            .relatives__template
              .relatives__item
                .relatives__field
                  .field
                    .field__label
                      | Ф.И.О. родственника
                    .field__control
                      .input-text
                        input.input-text__control(type='text' placeholder='Введите Ф.И.О. полностью' name='relative_name_hash' data-rule-required='true' data-msg-required='Заполните поле')
                .relatives__field
                  .field
                    .field__label
                      | Степень родства
                    .field__control
                      select.select(name='relative_type_hash' required='' data-msg-required='Заполните поле')
                        option(value='' disabled='' selected='' hidden='') Выберите вариант
                        option(value='1') Мать
                        option(value='2') Отец
                        option(value='3') Сын
                        option(value='4') Дочь
                .relatives__field
                  .field
                    .field__label
                      | Дата рождения
                    .field__control
                      .input-date
                        .input-date__inner
                          .input-date__icon-wrap
                            .input-date__icon
                          input.input-date__control(type='text' placeholder='00.00.0000' name='relative_birth_date_hash' data-rule-required='true' data-msg-required='Заполните поле' onclick='BX.calendar({callback_after: function() {}, node:this, field:this, bTime: false, currentTime: new Date().getTime()});')
                .relatives__field
                  .field
                    .field__label
                      | Наименование организации
                    .field__control
                      .input-text
                        input.input-text__control(type='text' placeholder='Введите организацию' name='relative_company_hash' data-rule-required='true' data-msg-required='Заполните поле')
                .relatives__field
                  .field
                    .field__label
                      | ИНН организации
                    .field__control
                      .input-text
                        input.input-text__control(type='text' placeholder='Введите ИНН' name='relative_inn_hash' data-rule-required='true' data-msg-required='Заполните поле' data-rule-digits='true' data-msg-digits='Поле может содержать только цифры' data-rule-rangelength='[9, 9]' data-msg-rangelength='Поле должно состоять из 9 цифр')
                .relatives__field
                  .field
                    .field__label
                      | Должность
                    .field__control
                      .input-text
                        input.input-text__control(type='text' placeholder='Введите должность' name='relative_occupation_hash' data-rule-required='true' data-msg-required='Заполните поле')
                .relatives__btn-delete
                  a.link-delete(href='#')
                    | Удалить данные о родственнике
            .relatives__list
            .relatives__btn-add
              button.ui-btn.ui-btn-primary(type='button')
                | Добавить еще родственника
          .declaration__btns
            button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
              | Сохранить
            button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
              | Назад
            button.declaration__btn-next.ui-btn.ui-btn-primary(type='button')
              | Далее
        
