extends ../../layout/layout

block variables
  - var title = 'Корупционные должности';

block content
    .content-width
      .declaration-description(style='display: none;')
        .card-popup.card-popup--description
          .card-popup__header
            .card-popup__wrapper
              .card-popup__title
                | Описание декларации конфликта интересов
          .card-popup__content-wrap
            .card-popup__wrapper
              .card-popup__content
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .declaration-error(style='display: none;')
        .card-popup.card-popup--error
          .card-popup__header
            .card-popup__wrapper
              .card-popup__title
                | Ошибка
          .card-popup__content-wrap
            .card-popup__wrapper
              .card-popup__content
                | Текст ошибки. Контрпример позитивно масштабирует математический анализ. Система координат стремительно накладывает интеграл по поверхности.

      .declaration(data-initial-step='1')
        .declaration__progress
          .declaration__progress-item
            | Шаг  1
          .declaration__progress-item
            | Шаг  2
          .declaration__progress-item
            | Шаг  3
          .declaration__progress-item
            | Шаг  4
          .declaration__progress-item
            | Шаг  5
        form.declaration__steps(action='')
          .declaration__step
            .declaration__title
              | Заявление
            .declaration__text
              | Перед заполнением настоящей декларации я ознакомился с Политикой противодействия коррупции и мошенничеству, Кодексом корпоративной этики, Положением о сообщении работниками о получении подарка в связи с их должностным положением или исполнением должностных обязанностей, Перечнем ограничений, запретов и обязанностей сотрудников единого института развития в жилищной сфере и его организаций, Порядком уведомления работодателя работниками о возникновении личной заинтересованности, которая приводит или может привести к конфликту интересов.
            .declaration__from
              .row
                .row__col-1-4
                  .declaration__label От кого:
                  .declaration__value Завьялов Дмитрий Евгеньевич
                .row__col-1-4
                  .declaration__label Должность:
                  .declaration__value Бухгалтер
                .row__col-1-4
                  .declaration__label Дата заполнения:
                  .declaration__value 08.06.2020
            .declaration__to
              .declaration__label
                | Кому:
              .declaration__to-wrapper
                .row
                  .row__col-1-2
                    .field
                      .field__control
                        input(type='hidden' name='addressee_id' data-rule-required='true' data-msg-required='Введено произвольное значение. Выберите сотрудника из списка.' value='2')
                      .field__control
                        .input-text
                          input.input-text__control(type='text' placeholder='Ф.И.О. непосредственного руководителя' name='addressee_name' data-rule-required='true' data-msg-required='Заполните поле' autocomplete='off' aria-invalid='false')
                          .input-text__icon-loop
                          .input-text__icon-arrow
                  .row__col-1-4
                    .declaration__label Должность:
                    .declaration__value.declaration__addressee-occupation 

            .declaration__period.field
              .field__label
                | Декларация охватывает период времени:
              .field__control
                .input-date
                  .input-date__inner
                    .input-date__icon-wrap
                      .input-date__icon
                    input.input-date__control(type='text' value='10.11.2011' disabled placeholder='00.00.0000' name='declaration_period_start_date' data-rule-required='true' data-msg-required='Выберите даты' onclick='BX.calendar({callback_after: function() {}, node:this, field:this, bTime: false, currentTime: new Date().getTime()});')
                    .input-date__pre по
                    input.input-date__control(type='text' value='10.11.2011' disabled placeholder='00.00.0000' name='declaration_period_end_date' data-rule-required='true' data-msg-required='Выберите даты' onclick='BX.calendar({callback_after: function() {}, node:this, field:this, bTime: false, currentTime: new Date().getTime()});')

            .declaration__text.declaration__agreement-text
              | Необходимо внимательно ознакомиться с приведенными ниже вопросами и ответить «да» или «нет» на каждый из вопросов. Ответ «ДА» необязательно означает наличие конфликта интересов, но выявляет вопрос, заслуживающий дальнейшего обсуждения и рассмотрения непосредственным руководителем. Необходимо дать разъяснения ко всем ответам «да» в месте, отведенном в конце первого раздела формы. При заполнении Декларации необходимо учесть, что все поставленные вопросы распространяются не только на Вас, но и на Ваших супруга(-у) (или партнера в гражданском браке), родителей (усыновителей), детей (в том числе приемных), родных и двоюродных братьев и сестер.
            .declaration__agreement-checkbox
              .field
                .field__control
                  .input-toggler.input-toggler--radio.input-toggler--agreement
                    label.input-toggler__inner
                      input.input-toggler__control(type='checkbox' name='agreement_informed' data-rule-required='true' data-msg-required='Необходимо согласие')
                      span.input-toggler__mark
                      span.input-toggler__label
                        | Ознакомлен, с указанными выше локальными нормативными актами и 
                        a.input-toggler__link.declaration__open-popup-description(href='#') описанием декларации конфликта интересов
            .declaration__btns
              button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                | Сохранить
              button.declaration__btn-next.ui-btn.ui-btn-primary(type='button')
                | Далее
          .declaration__step
            .declaration__title
              | Информация о родственниках и их дейтельности
            .declaration__text
              | К родственникам относятся: Супруг/супруга; Отец; Мать; Сын; Дочь; Брат; Сестра; Двоюродный брат/сестра; Дядя/тетя; Отчим/мачеха; Пасынок/падчерица; Сожитель.
            .declaration__relatives.relatives
              .relatives__template
                .relatives__item
                  .relatives__field
                    .field
                      .field__label
                        | Ф.И.О. родственника
                      .field__control
                        .input-text
                          input.input-text__control(type='text' placeholder='Введите Ф.И.О. полностью' name='relative_name_hash' data-rule-required='true' data-msg-required='Заполните поле')
                  .relatives__field
                    .field
                      .field__label
                        | Степень родства
                      .field__control
                        select.select(name='relative_type_hash' required='' data-msg-required='Заполните поле')
                          option(value='' disabled='' selected='' hidden='') Выберите вариант
                          option(value='1') Мать
                          option(value='2') Отец
                          option(value='3') Сын
                          option(value='4') Дочь
                  .relatives__field
                    .field
                      .field__label
                        | Дата рождения
                      .field__control
                        .input-date
                          .input-date__inner
                            .input-date__icon-wrap
                              .input-date__icon
                            input.input-date__control(type='text' placeholder='00.00.0000' name='relative_birth_date_hash' data-rule-required='true' data-msg-required='Заполните поле')
                  .relatives__field
                    .field
                      .field__label
                        | Наименование организации
                      .field__control
                        .input-text
                          input.input-text__control(type='text' placeholder='Введите организацию' name='relative_company_hash' data-rule-required='true' data-msg-required='Заполните поле')
                  .relatives__field
                    .field
                      .field__label
                        | ИНН организации
                      .field__control
                        .input-text
                          input.input-text__control(type='text' placeholder='Введите ИНН' name='relative_inn_hash' data-rule-required='true' data-msg-required='Заполните поле' data-rule-digits='true' data-msg-digits='Поле может содержать только цифры' data-rule-rangelength='[9, 9]' data-msg-rangelength='Поле должно состоять из 9 цифр')
                  .relatives__field
                    .field
                      .field__label
                        | Должность
                      .field__control
                        .input-text
                          input.input-text__control(type='text' placeholder='Введите должность' name='relative_occupation_hash' data-rule-required='true' data-msg-required='Заполните поле')
                  .relatives__btn-delete
                    a.link-delete(href='#')
                      | Удалить данные о родственнике
              .relatives__list
              .relatives__btn-add
                button.ui-btn.ui-btn-primary(type='button')
                  | Добавить еще родственника
            .declaration__btns
              button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                | Сохранить
              button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
                | Назад
              button.declaration__btn-next.ui-btn.ui-btn-primary(type='button')
                | Далее
          .declaration__step
            .declaration__block
              .declaration__title-large
                | Внешние интересы или активы
              .declaration__cards
                .declaration__card
                  .card-info
                    .card-info__text-common
                      | Владеете ли Вы	или лица, действующие	в Ваших интересах,	прямо или как бенефициар, акциями (долями, паями) или любыми другими финансовыми интересами:
                    .card-info__item
                      .card-info__question
                        .question
                          .question__text
                            | В активах АО «ДОМ.РФ» или организаций единого института развития в жилищной с сфере далее — АО «ДОМ.РФ» ?
                          .question__answer
                            .field
                              .field__control
                                select.select-simple(name='question_1' required='' data-msg-required='Выберите ответ')
                                  option(value='' disabled='' selected='' hidden='') —
                                  option(value='1') Да
                                  option(value='0') Нет
                    .card-info__item
                      .card-info__question
                        .question
                          .question__text
                            | В другой компании, находящейся в деловых отношениях с АО «ДОМ,РФ» контрагенте подрядчике консультанте клиенте и т.п. ?
                          .question__answer
                            .field
                              .field__control
                                select.select-simple(name='question_2' required='' data-msg-required='Выберите ответ')
                                  option(value='' disabled='' selected='' hidden='') —
                                  option(value='1') Да
                                  option(value='0') Нет
                    .card-info__item
                      .card-info__question
                        .question
                          .question__text
                            | В компании или организации, которая может быть заинтересована или ищет возможность построить деловые отношения с АО «ДОМ,РФ» или ведет такие переговоры?
                          .question__answer
                            .field
                              .field__control
                                select.select-simple(name='question_3' required='' data-msg-required='Выберите ответ')
                                  option(value='' disabled='' selected='' hidden='') —
                                  option(value='1') Да
                                  option(value='0') Нет
                    .card-info__item
                      .card-info__question
                        .question
                          .question__text
                            | В деятельности компании-конкурента или физического лица-конкурента АО «ДОМ, РФ»?
                          .question__answer
                            .field
                              .field__control
                                select.select-simple(name='question_4' required='' data-msg-required='Выберите ответ')
                                  option(value='' disabled='' selected='' hidden='') —
                                  option(value='1') Да
                                  option(value='0') Нет
                      .card-info__field.field
                        .field__control
                          .input-text
                            textarea.input-text__control(placeholder='Предоставьте, пожалуйста, подробную информацию *' rows='3')
                      .card-info__question
                        .question.question--light
                          .question__text
                            | Подавали ли Вы уведомление в соответствии с Порядком уведомления работодателя работниками единого института развития в жилищной сфере и его организаций о возникновении личной заинтересованности, которая приводит или может привести к конфликту интересов?
                          .question__answer
                            .field
                              .field__control
                                select.select-simple(name='question_5' required='' data-msg-required='Выберите ответ')
                                  option(value='' disabled='' selected='' hidden='') —
                                  option(value='1') Да
                                  option(value='0') Нет
            .declaration__btns
              button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                | Сохранить
              button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
                | Назад
              button.declaration__btn-next.ui-btn.ui-btn-primary(type='button')
                | Далее
          .declaration__step
            .declaration__title
              | Информация о доходах
            .declaration__text
              | В данном разделе вам необходимо указать все организации, где Вы и члены Вашей семьи получали доходы за последние 3 года
            .declaration__incomes
              .incomes
                .incomes__template
                  .incomes__item
                    .incomes__field
                      .field
                        .field__label
                          | Наименование организации
                        .field__control
                          .input-text
                            input.input-text__control(type='text' placeholder='Введите организацию' name='company_hash' data-rule-required='true' data-msg-required='Заполните поле')
                    .incomes__field
                      .field
                        .field__label
                          | ИНН организации
                        .field__control
                          .input-text
                            input.input-text__control(type='text' placeholder='Введите ИНН' name='inn_hash' data-rule-required='true' data-msg-required='Заполните поле' data-rule-digits='true' data-msg-digits='Поле может содержать только цифры' data-rule-rangelength='[9, 9]' data-msg-rangelength='Поле должно состоять из 9 цифр')
                    .incomes__field
                      .field
                        .field__label
                          | Должность
                        .field__control
                          .input-text
                            input.input-text__control(type='text' placeholder='Введите должность' name='occupation_hash' data-rule-required='true' data-msg-required='Заполните поле')
                    .incomes__btn-delete
                      a.link-delete(href='#')
                        | Удалить данные
                .incomes__list
                .incomes__btn-add
                  button.ui-btn.ui-btn-primary(type='button')
                    | Добавить организацию
            .declaration__block
              .relatives-incomes
                .declaration__title
                  | Информации о доходах родственников работника за последние 3 года
                .declaration__cards
                  .declaration__card
                    .card-info
                      .card-info__item
                        .row
                          .row__col-1-2
                            .field
                              .field__label
                                | Ф.И.О. родственника
                              .field__control
                                .input-text
                                  input.input-text__control(placeholder='Дмитрий Евгеньевич Завьялов')
                          .row__col-1-2
                            .field
                              .field__label
                                | Степень родства
                              .field__control
                                select.select(name='' id='' required='')
                                  option(value='' disabled='' hidden='') Выберите из списка
                                  option(value='1') Мать
                                  option(value='2') Отец
                                  option(value='3' selected='') Сын
                                  option(value='4') Дочь
                      .card-info__item
                        .incomes.incomes--horizontal
                          .incomes__template
                            .incomes__item
                              .incomes__field
                                .field
                                  .field__label
                                    | Наименование организации
                                  .field__control
                                    .input-text
                                      input.input-text__control(type='text' placeholder='Введите организацию' name='relative_company_hash' data-rule-required='true' data-msg-required='Заполните поле')
                              .incomes__field
                                .field
                                  .field__label
                                    | ИНН организации
                                  .field__control
                                    .input-text
                                      input.input-text__control(type='text' placeholder='Введите ИНН' name='relative_inn_hash' data-rule-required='true' data-msg-required='Заполните поле' data-rule-digits='true' data-msg-digits='Поле может содержать только цифры' data-rule-rangelength='[9, 9]' data-msg-rangelength='Поле должно состоять из 9 цифр')
                              .incomes__field
                                .field
                                  .field__label
                                    | Должность
                                  .field__control
                                    .input-text
                                      .input-text
                                        input.input-text__control(type='text' placeholder='Введите должность' name='relative_occupation_hash' data-rule-required='true' data-msg-required='Заполните поле')
                              .incomes__btn-delete
                                a.link-delete(href='#')
                                  | Удалить данные
                          .incomes__list
                          .incomes__btn-add
                            button.ui-btn.ui-btn-primary(type='button')
                              | Добавить организацию
            .declaration__btns
              button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                | Сохранить
              button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
                | Назад
              button.declaration__btn-next.ui-btn.ui-btn-primary(type='button')
                | Далее
          .declaration__step
            .declaration__btns-top
              button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                | Сохранить
              button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
                | Назад
              button.declaration__btn-submit.ui-btn.ui-btn-primary(type='button')
                | Отправить
            .declaration__summary
              .declaration__block
                .declaration__title
                  | Декларация
                .declaration__cards
                  .declaration__card
                    .card-info.card-info--no-paddings
                      .card-info__item
                        .row
                          .row__col-1-3
                            .declaration__label-black
                              | Кому:
                            .declaration__value-light
                              | Давыденко Сергей Денисович
                          .row__col-1-4
                            .declaration__label-black
                              | Должность:
                            .declaration__value-light
                              | Старший управляющий
                      .card-info__item
                        .row
                          .row__col-1-3
                            .declaration__label-black
                              | От кого:
                            .declaration__value-light
                              | Завьялов Михаил Андреевич
                          .row__col-1-4
                            .declaration__label-black
                              | Должность:
                            .declaration__value-light
                              | Бухгалтер
                      .card-info__item
                        .row
                          .row__col-1-3
                            .declaration__label-black
                              | Декларация охватывает период:
                            .declaration__value-light
                              | 08.06.2019 по 08.06.2020
                          .row__col-1-4
                            .declaration__label-black
                              | Дата заполнения:
                            .declaration__value-light
                              | 08.06.2020
                          .row__col-1-4
                            .declaration__label-black
                              | Дата последнего изменения
                            .declaration__value-light
                              | 08.06.2020
              .declaration__block
                .declaration__title
                  | Внешние интересы или активы
                .declaration__cards
                  .declaration__card
                    .card-info
                      .card-info__item
                        .card-info__text
                          | Владеете ли Вы	или лица, действующие	в Ваших интересах,	прямо или как бенефициар, акциями (долями, паями) или любыми другими финансовыми интересами:
                        .card-info__question
                          .question
                            .question__text
                              | В активах АО «ДОМ.РФ» или организаций единого института развития в жилищной с сфере далее — АО «ДОМ.РФ» ?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В другой компании, находящейся в деловых отношениях с АО «ДОМ,РФ» контрагенте подрядчике консультанте клиенте и т.п. ?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В компании или организации, которая может быть заинтересована или ищет возможность построить деловые отношения с АО «ДОМ,РФ» или ведет такие переговоры?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В деятельности компании-конкурента или физического лица-конкурента АО «ДОМ, РФ»?
                            .question__answer.question__answer--bold
                              | Да
                        .card-info__comment
                          | Комментарий, который указывает пользователь при положительном ответе. Комментарий, который указывает пользователь при положительном ответе.Комментарий, который указывает пользователь при положительном ответе. Комментарий, который указывает пользователь при положительном ответе. Комментарий, который указывает пользователь при положительном ответе.Комментарий, который указывает пользователь при положительном ответе.
                        .card-info__question
                          .question.question--light
                            .question__text
                              | Подавали ли Вы уведомление в соответствии с Порядком уведомления работодателя работниками единого института развития в жилищной сфере и его организаций о возникновении личной заинтересованности, которая приводит или может привести к конфликту интересов?
                            .question__answer.question__answer--bold
                              | Да
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В компании или организации, выступающей стороной в судебном или арбитражном разбирательстве с АО «ДОМ.РФ»?
                            .question__answer.question__answer--bold
                              | Да
                  .declaration__card
                    .card-info
                      .card-info__item
                        .card-info__text
                          | Являетесь ли Вы или лица, действующие в Ваших интересах, членами органов управления (совета директоров, правления) или исполнительными руководителями (директорами, заместителями директоров и т.п.), а также работниками, советниками, консультантами, агентами или доверенными лицами:
                        .card-info__question
                          .question
                            .question__text
                              | В компании, находящейся в деловых отношениях с АО «ДОМ.РФ»?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В компании, которая ищет возможность построить деловые отношения с АО «ДОМ.РФ» или ведет такие переговоры?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В компании-конкуренте АО «ДОМ.РФ»?
                            .question__answer.question__answer--bold
                              | Нет
                      .card-info__item
                        .card-info__question
                          .question
                            .question__text
                              | В компании, выступающей или предполагающей выступить стороной в судебном или а бит арбитражном разбирательстве с АО «ДОМ.РФ»?
                            .question__answer.question__answer--bold
                              | Да
              .declaration__block-text
                | Участвуете ли вы в настоящее время в какой-либо иной деятельности, кроме описанной выше, которая конкурирует с интересами АО «ДОМ.РФ» в любой форме, включая, но не ограничиваясь, приобретение или отчуждение каких-либо активов (имущества) или возможности развития бизнеса или бизнес-проектов?
              .declaration__btns
                button.declaration__btn-save.ui-btn.ui-btn-primary(type='button')
                  | Сохранить
                button.declaration__btn-prev.ui-btn.ui-btn-primary(type='button')
                  | Назад
              .declaration__agreement-checkbox
                .input-toggler.input-toggler--radio.input-toggler--form-agreement
                  label.input-toggler__inner
                    input.input-toggler__control(type='checkbox')
                    span.input-toggler__mark
                    span.input-toggler__label
                      | Настоящим подтверждаю, что я прочитал и понял все указанные вопросы,
                      | а мои ответы и любая пояснительная информация являются полными, правдивыми
                      | и правильными. Не возражаю против обработки АО «ДОМ.РФ» указанных в настоящей Декларации сведений, включая сбор, систематизацию, накопление, хранение, уточнение, использование, обезличивание, проверку достоверности моих персональных данных. Цель обработки: проверка и выявление конфликтов интересов, предотвращение злоупотреблений должностными полномочиями. Срок обработки: с даты предоставления данных до даты прекращения трудового договора с работником, который предоставил Декларацию.
                      | Настоящее согласие может быть отозвано мной в письменной форме. Согласие считается отозванным на 10-ый рабочий день с даты получения АО «ДОМ.РФ» письма об …
              .declaration__btns
                button.declaration__btn-submit.ui-btn.ui-btn-primary(type='submit')
                  | Отправить
                
