/* card-info styles -- start */
.card-info {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 10px;
}

.card-info__item {
    padding: 16px;
    border-top: 1px solid #EDEDED
}

.card-info__item:first-child {
    border-top: none;
}

.card-info__text-common + .card-info__item {
    border-top: none;
}

.card-info__text {
    margin-top: 16px;
    padding-right: 120px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #7C899A;
}

.card-info__text:first-child {
    margin-top: 0;
}

.card-info__question {
    padding-right: 100px;
    margin-top: 16px;
}

.card-info__question:first-child {
    margin-top: 0;
}

.card-info__field {
    margin-top: 16px;
    width: 556px;
}

.card-info__field:first-child {
    margin-top: 0;
}

.card-info__comment {
    margin-top: 16px;
    padding-right: 180px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #A3A3A3;
}

.card-info__comment:first-child {
    margin-top: 0;
}

.card-info__row {
    margin-top: 20px;
}

.card-info__row:first-child {
    margin-top: 0;
}

.card-info__text-common {
    padding-right: 136px;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #7C899A;
}

.card-info__editable {
    margin-top: 7px;
}

.card-info--no-paddings {
    padding-top: 0;
}
/* card-info styles -- end */
