/* card-info styles -- start */
.card-info {
  padding-top: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;

  &--no-paddings {
    padding-top: 0;
  }

  &__item {
    padding: 16px;
    border-top: 1px solid #EDEDED;

    &:first-child {
      border-top: none;
    }
  }

  &__text {
    padding-right: 120px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #7C899A;
    letter-spacing: 0.01em;

    &:first-child {
      margin-top: 0;
    }
  }

  .card-info__text-common + .card-info__item {
    border-top: none;
  }

  &__question {
    padding-right: 100px;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__field {
    width: 556px;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__comment {
    padding-right: 180px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #A3A3A3;
    letter-spacing: 0.1px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__row {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__text-common {
    padding-top: 16px;
    padding-right: 136px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #7C899A;
    letter-spacing: 0.01em;
  }

  &__editable {
    margin-top: 7px;
  }

}

/* card-info styles -- end */
