/* form-agreement styles -- start */
.form-declaration {
    padding: 24px 0 32px;
    background: #FAFBFC;
    border-radius: 4px;
}

.form-declaration__container {
    padding-left: 73px;
    padding-right: 32px;
}


.form-declaration__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.36;
    color: #000000;
}

.form-declaration__items {
    margin-top: 5px;
}

.form-declaration__item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #EDEDED;
}

.form-declaration__item:first-child {
    border-top: none;
}

.form-declaration__choice {
    margin-left: -35px;
}

.form-declaration__template-comment {
    display: none;
}

.form-declaration__comment {
    margin-top: 16px;
}

.form-declaration--equal-paddings .form-declaration__container {
    padding-left: 32px;
    padding-right: 32px;
}

.form-declaration--h-100 {
    height: 100%;
}

/* form-agreement styles -- end */
