/* form-agreement styles -- start */
.form-declaration {
  padding: 24px 0 32px;
  background: #FAFBFC;
  border-radius: 4px;

  $r : &;

  &--equal-paddings {
    #{$r}__container {
      padding-right: 32px;
      padding-left: 32px;
    }
  }

  &--h-100 {
    height: 100%;
  }

  &__container {
    padding-right: 32px;
    padding-left: 73px;
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.36;
    color: #000;
  }

  &__items {
    margin-top: 5px;
  }

  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #EDEDED;

    &:first-child {
      border-top: none;
    }
  }

  &__choice {
    margin-left: -35px;
  }

  &__template-comment {
    display: none;
  }

  &__comment {
    margin-top: 16px;
  }
}

/* form-agreement styles -- end */
