.input-toggler {
  position: relative;
  display: inline-flex;
  $r: &;

  &--radio {
    #{$r}__mark {
      border-radius: 50%;

      &::after {
        border-radius: 50%;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;

    #{$r}__inner {
      pointer-events: none;
      opacity: .5;
    }
  }

  &--agreement {
    #{$r}__label {
      font-size: 12px;
      line-height: 1.5;
      color: #000;
    }
  }

  &--form-agreement {
    #{$r}__label {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      color: #7C899A;
      letter-spacing: 0.01em;
    }

    #{$r}__inner {
      align-items: flex-start;
    }

    #{$r}__mark {
      top: 3px;
    }
  }

  &--align-top {
    #{$r}__inner {
      align-items: flex-start;
    }
  }

  &--error {
    #{$r}__mark {
      border-color: #FF7B7B;
    }

    #{$r}__inner {
      &:hover {
        #{$r}__mark {
          border-color: #FF7B7B;
        }
      }
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:hover {
      #{$r}__mark {
        border-color: #90BC56;
      }
    }
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked ~  #{$r}__mark {
      &::after {
        display: block;
      }
    }
  }

  &__mark {
    position: relative;
    display: block;
    flex: none;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background: #fff;
    border: 1px solid #D5D5D5;
    transition: border-color .2s;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      width: 10px;
      height: 10px;
      margin: auto;
      content: "";
      background-color: #90BC56;
      transition: background-color .2s;
    }
  }

  &__label {
    display: block;
  }

  &__link {
    color: #92BC58;

    &:hover {
      opacity: 0.8;
    }
  }

}
