/* input-text styles -- start */
.input-text {
  position: relative;

  &__control {
    width: 100%;
    height: 44px !important;
    padding: 13px 23px !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    line-height: 1.33;
    letter-spacing: 0.1px;
    background-color: #F1F4F8;
    border: 1px solid #F1F4F8 !important;
    border-radius: 20px !important;
    outline: none;

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    &::placeholder {
      color: #A3A3A3;
    }
    textarea {
      height: auto !important;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: 15px;
    right: 19px;
    width: 10px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.46824 6.80994L11.8083 1.50758C11.9319 1.38495 12 1.22124 12 1.04668C12 0.872118 11.9319 0.708408 11.8083 0.585771L11.4151 0.195289C11.1589 -0.0587999 10.7425 -0.0587999 10.4867 0.195289L6.00249 4.64781L1.51326 0.190349C1.38965 0.0677115 1.22487 -4.6432e-07 1.04916 -4.71891e-07C0.873261 -4.79471e-07 0.708482 0.0677114 0.584775 0.190348L0.191706 0.58083C0.0680971 0.703564 -3.79055e-08 0.867177 -4.55358e-08 1.04174C-5.3166e-08 1.2163 0.0680971 1.38001 0.191706 1.50264L5.53664 6.80994C5.66064 6.93287 5.8262 7.00039 6.00219 7C6.17888 7.00039 6.34434 6.93287 6.46824 6.80994Z' fill='%23B0B0B0'/%3E%3C/svg%3E");
    background-size: 10px 14px;
  }

  &__icon-loop {
    position: absolute;
    top: 15px;
    right: 43px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url('../../static/img/icon-search.svg');
    background-size: 14px 14px;
  }
}

.field--error .input-text__control {
  border-color: #FF7B7B !important;
}

/* input-text styles -- end */
