/* input-date styles -- start */
.input-date {
  line-height: 1;

  $r: &;

  &--high {
    #{$r}__inner {
      height: 44px;
    }
  }

  &__inner {
    position: relative;
    display: inline-flex;
    height: 38px;
    border: 1px solid #DDD;
    border-radius: 4px;
  }

  &__icon-wrap {
    position: relative;
    left: -1px;
    flex: none;
    width: 50px;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 20px;
    margin: auto;
    background-image: url('../../static/img/icon-calendar.svg');
    background-size: 18px 20px;
  }

  &__control {
    flex: none;
    width: 78px;
    height: auto !important;
    padding-top: 0 !important;
    padding-right: 10px !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    border: none !important;

    &::placeholder {
      color: #A3A3A3;
    }
  }

  &__pre {
    display: flex;
    flex: none;
    flex-direction: column-reverse;
    margin-right: 16px;
    font-size: 12px;
    line-height: 2.7;
    color: #000;
  }
}

.field--error .input-date__inner {
  border-color: #FF7B7B;
}

/* input-date styles -- end */
