/* select-yes-no styles -- start */
.select-simple {
    position: relative;
    padding: 0 16px 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.46824 6.80994L11.8083 1.50758C11.9319 1.38495 12 1.22124 12 1.04668C12 0.872118 11.9319 0.708408 11.8083 0.585771L11.4151 0.195289C11.1589 -0.0587999 10.7425 -0.0587999 10.4867 0.195289L6.00249 4.64781L1.51326 0.190349C1.38965 0.0677115 1.22487 -4.6432e-07 1.04916 -4.71891e-07C0.873261 -4.79471e-07 0.708482 0.0677114 0.584775 0.190348L0.191706 0.58083C0.0680971 0.703564 -3.79055e-08 0.867177 -4.55358e-08 1.04174C-5.3166e-08 1.2163 0.0680971 1.38001 0.191706 1.50264L5.53664 6.80994C5.66064 6.93287 5.8262 7.00039 6.00219 7C6.17888 7.00039 6.34434 6.93287 6.46824 6.80994Z' fill='%23B0B0B0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right top 75%;
    background-size: 10px 14px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.select-simple:invalid {
    color: #A3A3A3;
}

.field--error .select-simple {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.46824 6.80994L11.8083 1.50758C11.9319 1.38495 12 1.22124 12 1.04668C12 0.872118 11.9319 0.708408 11.8083 0.585771L11.4151 0.195289C11.1589 -0.0587999 10.7425 -0.0587999 10.4867 0.195289L6.00249 4.64781L1.51326 0.190349C1.38965 0.0677115 1.22487 -4.6432e-07 1.04916 -4.71891e-07C0.873261 -4.79471e-07 0.708482 0.0677114 0.584775 0.190348L0.191705 0.58083C0.0680967 0.703564 4.32083e-08 0.867177 3.55781e-08 1.04174C2.79479e-08 1.2163 0.0680967 1.38001 0.191705 1.50264L5.53664 6.80994C5.66064 6.93287 5.8262 7.00039 6.00219 7C6.17888 7.00039 6.34434 6.93287 6.46824 6.80994Z' fill='%23FF7B7B'/%3E%3C/svg%3E");
}

/* select-yes-no styles -- end */
