/* tingle-modal -- start */
.tingle-modal--default {
    background: rgba(0,0,0,.4);
}

.tingle-modal--default .tingle-modal__close:not(:last-child){
    display: none;
}

.tingle-modal--default:before {
    backdrop-filter: none;
}

.tingle-modal--default .tingle-modal-box {
    width: auto;
    max-width: 95%;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.tingle-modal--default .tingle-modal-box__content {
    padding: 0;
}

.tingle-modal--default .tingle-modal__close {
    position: absolute;
    top: 30px;
    right: 40px;
    left: auto;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='black'/%3E%3C/svg%3E");
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.tingle-modal--default .tingle-modal__close:after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}

.tingle-modal--default .tingle-modal__close:hover {
    opacity: .8;
}

.tingle-modal--default .tingle-modal__closeIcon {
    display: none;
}

.tingle-modal--default .tingle-modal__closeLabel {
    display: none;
}
/* tingle-modal -- end */
