extends ../../layout/layout
include ../../../blocks/common/checkbox/checkbox
include ../../../blocks/common/input/input
include ../../../blocks/button/template
include ../../../blocks/progress-rating/progress-rating
  
block variables
  - var title = 'Опрос Вовлеченности';
    
block content
  .content-width
    +b.MAIN.engagement-survey
      +e.progress-wrapper
        include ../../../blocks/progress-steps/template
      form(action='')
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 1
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range:[10,9,8,7,6,5,4,3,2,1],error:true})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required:true,
                areaInput:true,
                multiline:true,
              })
        hr       
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 2
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr      
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 3
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 4
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              }) 
        hr       
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 5
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr      
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 6
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 7
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr      
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 8
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 9
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 10
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        hr
        include ../../../blocks/checkbox-area/template
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 12
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })   
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 13
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })   
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 14
              +b.survey-text.mr-sm
                p Что необходимо сделать, чтобы ваша команда стала еще более сплоченной и успешной?
            .ml-4    
              +b.survey-text--small
                p *Ответьте в поле справа
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш ответ",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })  
        hr
        .row.align-center
          .col-md-6.col-xs-12
            +e.align-items-wrapper.mb-responsive-sm
              +b.progress-pagination.mr-sm
                +e.item 15
              +b.survey-text.mr-sm
                p Непосредственный руководитель ставит мне четкие цели и задачи
            +rating-scale({range: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]})
          .col-md-6.col-xs-12
            .js-for-scale
              +input({
                placeholder: "Ваш комментарий",
                labelText: '',
                errorText: '',
                isDisabled: false,
                required: true,
                areaInput: true,
                multiline: true,
              })
        .mt-4     
         include ../../../blocks/form-submit/template

