.engagement-survey {
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.04);
  @include media-xsm() {
    padding: 40px 0px;
    width: 90%;
    box-shadow: none;
    margin: 0 auto;
  }

  &__progress-wrapper {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  &__align-items-wrapper {
    display: flex;
    align-items: center;
    min-height: 88px;

    @include media-md {
      min-height: 0;
    }
  }
}
