extends ../../layout/layout
include ../../../blocks/common/checkbox/checkbox
include ../../../blocks/common/input/input
include ../../../blocks/button/template
include ../../../blocks/progress-rating/progress-rating
  
block variables
  - var title = 'Опрос Вовлеченности';
    
block content
  .content-width
    +b.MAIN.engagement-survey
      +e.progress-wrapper
        include ../../../blocks/progress-steps/template
      form(action='')    
        .row
          .col-lg-5.col-sm-12.col-xs-12
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 1
                  +b.survey-text.mr-sm
                    p Непосредственный руководитель ставит мне четкие цели и задачи
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 3
                  +b.survey-text.mr-sm
                    p Я часто получаю обратную связь о своей работе от руководителя
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required:true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 5
                  +b.survey-text.mr-sm
                    p Рабочие совещания нашей команды и руководителя проходят эффективно
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 7
                  +b.survey-text.mr-sm
                    p Я знаю стратегию компании и четкий план действий на ближайший год      
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 9
                  +b.survey-text.mr-sm
                    p Я согласен с тем, что для достижения успеха моя компания может пересматривать стратегические цели и изменять направление моей работы
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий *",
                  labelText: '',
                  errorText: 'Поле обязательно для заполнения',
                  isDisabled: false,
                  required: true,
                })
          .col-lg-5.col-sm-12.col-xs-12.col-lg-offset-1
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 2
                  +b.SPAN.survey-text.mr-sm
                    p Мой руководитель часто хвалит меня за хорошо выполненную работу *
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1],error:true})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 4
                  +b.survey-text.mr-sm
                    p Мой руководитель активно участвует в моем профессиональном развитии
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 6
                  +b.survey-text.mr-sm
                    p Рабочие совещания нашей команды и руководителя проходят эффективно
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 8
                  +b.survey-text.mr-sm
                    p Я согласен, что ценности нашей компании и ее деятельность тесно взаимосвязаны между собой и дополняют друг друга
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 10
                  +b.survey-text.mr-sm
                    p Я понимаю, как моя работа соотносится со стратегическими целями и приоритетами нашей компании, каких результатов ждут от моей работы 
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
                // Section Checkboxes
        .row
          .col-lg-5.col-sm-12.col-xs-12
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 11
                  +b.survey-text.mr-sm
                    p Когда я выбирал нашу компанию в качестве работодателя, меня привлекло (до 4 вариантов)
        include ../../../blocks/checkbox-area/template
        .row.mb-md
          .col-lg-5.col-sm-12.col-xs-12
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 12
                  +b.survey-text.mr-sm
                    p Непосредственный руководитель ставит мне четкие цели и задачи
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 14
                  +b.survey-text.mr-sm
                    p Я часто получаю обратную связь о своей работе от руководителя
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
          .col-lg-5.col-sm-12.col-xs-12.col-lg-offset-1
            .col-xs-12.mb-extra-xs
              .row
                +e.align-items-wrapper.mb-sm
                  +b.progress-pagination.mr-sm
                    +e.item 13
                  +b.survey-text.mr-mb
                    p Что необходимо сделать, чтобы ваша команда стала еще более сплоченной и успешной?
            .row
              .col-xs-12
                +input({
                  placeholder: "Ваш ответ",
                  labelText: 'Свободный ответ',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })
            .col-xs-12
              .row
                +e.align-items-wrapper
                  +b.progress-pagination.mr-sm
                    +e.item 15
                  +b.survey-text.mr-sm
                    p Непосредственный руководитель ставит мне четкие цели и задачи
            .row
              .col-xs-12
                +rating-scale({range:[10,9,8,7,6,5,4,3,2,1]})
                +input({
                  placeholder: "Ваш комментарий",
                  labelText: '',
                  errorText: '',
                  isDisabled: false,
                  required: true,
                })    
        .row
          .col-lg-5.col-sm-12.col-xs-12
            .row.mb-xs
              .col-xs-6.col-md-3
                +Button({title:"далее",submit:true})
              .col-xs-6.col-md-3
                +Button({title:"назад",submit:false})  
               
