.block-applications {
  display: flex;
  position: relative;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0) 100%), url(../../static/img/applications-background.png);
  background-blend-mode: normal, multiply;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding-bottom: 44px;

  &__wrap {
    max-height: 450px;
  }

  &__container {
    max-width: 300px;
    margin-left: 63px;
    margin-top: 50px;
  }

  &__title {
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #000;
  }

  &__subtitle {
    font-family: Etelka Light Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #92BC58;
    letter-spacing: 0.01em;
  }

  &__button-container {
    max-width: 168px;
  }

  &__image {
    position: absolute;
    z-index:2;
    right: 0;
    top:0;
  }

  &__glass-img {
    position: absolute;
    z-index: 3;
    width: 194px;
    height: 140px;
    right: 110px;
    bottom:25px;
    background:  url(../../static/img/application-glasses.png);
  }

  &__end-line {
    position: absolute;
    width: 26px;
    height: 270px;
    border-radius: 0 15px 15px 0;
    right: 0;
    top:0;
    bottom:0;
    background: linear-gradient(180deg, #A9D56F 12.79%, #437008 100%), #90BC56;
  }
}
