include ../button/template
+b.block-applications
 +e.container
   +e.title Новый проект от отдела обучения и развития
   +e.button-container
     +e.subtitle 
         p Вступайте в сообщество экспертов ДОМ.РФ!
     +Button("Подать Заявку")
 +e.IMG.image(src="../../static/img/application-1.png")    
 +e.end-line
 +e.glass-img
