@import '../../vendors/custom/bootstrap/variables.scss';

$color-dark-gray: #314650;
$color-white: #fff;
$color-wild-watermelon: #FF7B7B;
$color-main-green: #90BC56;
$color-light-gray: #D8E0EA;
$color-survey-gray: #737373;
