extends ../../layout/layout

block variables
  - var title = 'Верстка ДОМ';

block header
block content
  +b.MAIN.main
    section.section
      .container
        .content
          h1.mb-4= title
          ol
            li
              a(href='dom-expert.html' target='_blank') Эксперт Дома
            li
              a(href='engagement-survey.html' target='_blank') Опрос вовлеченности
            li
              a(href='personal.html' target='_blank') Персонал Кор Должности
            li
              a(href='corruption-position.html' target='_blank')  Кор Должности  
block footer
